.container{
    max-width:1000px;
    padding: 25px 3%;
    margin: auto;
    display:flex;
}
.cursos{
    display:flex;
    align-items: center;
    justify-content:center;
    height:300px;
    width:300px;
    background-color:#fff;;
    border-radius:3px;
    box-shadow:0px 0px 4px rgba(0,0,0,0.6);
    margin: 0 15px;
}